<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/services">Services</a>
    <a href="/contact">Contact</a>
</nav>

<h1>Contact Us</h1>

<p>
    Email:
    <a href="mailto:littletouch789@gmail.com">
        littletouch789@gmail.com
    </a>
</p>

<p>
    Instagram:
    <a href="https://www.instagram.com/littletouchbabycare/"
       target="_blank">
       @littletouchbabycare
    </a>
</p>

<p>
    Phone:
    <a href="tel:+919048994799">
        +91 9048994799
    </a>
</p>

</body>
</html>