<!DOCTYPE html>
<html>
<head>
    <title>Little Touch</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
</head>

<body>

    <!-- NAVBAR -->
    <nav class="navbar">

        <div class="logo-container">
            <img src="{{ url_for('static',
            filename='images/logo.png') }}"
            class="logo">
        </div>

       <div class="nav-links">
    <a href="/services">Services</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>

    <a href="/about"
    class="about-btn">
        About Us
    </a>
</div>

    </nav>


    <!-- HERO SECTION -->
<section class="hero">

    <!-- HEADLINE -->
    <div class="headline-container">

        <div class="headline-track">

            <h1 class="headline">
                <span class="blue">
                    Growing With Care
                </span>
                <span class="pink">Today</span>
                <span class="blue">
                    for a Brighter
                </span>
                <span class="pink">Tomorrow✧</span>
            </h1>

            <h1 class="headline">
                <span class="blue">
                    Growing With Care
                </span>
                <span class="pink">Today</span>
                <span class="blue">
                    for a Brighter
                </span>
                <span class="pink">Tomorrow ✦</span>
            </h1>

        </div>

    </div>
</section>
        <!-- CONTENT AREA -->
        <div class="hero-content">

            <!-- LEFT SIDE -->
            <div class="left-section">

                <p class="description">
                   We create thoughtful designs that turn little moments
                    into beautiful beginnings,
                     wrapping every childhood memory in comfort,
                      care, and timeless style.
                </p>

                <a href="/services"
                class="btn">
                    GET STARTED
                </a>

            </div>


            <!-- RIGHT SIDE IMAGE -->
            <div class="right-section">

                <img src="{{ url_for('static',
                filename='images/home-image.png') }}"
                class="baby-image">

            </div>

        </div>

        <section class="categories">

    <div class="category-card">

        <img src="{{ url_for('static',
        filename='images/newborn.jpg') }}"
        class="flower-image">

        <h3>New Born</h3>

    </div>


    <div class="category-card">

        <img src="{{ url_for('static',
        filename='images/girl.png') }}"
        class="flower-image">

        <h3>Girl</h3>

    </div>


    <div class="category-card">

        <img src="{{ url_for('static',
        filename='images/boy.png') }}"
        class="flower-image">

        <h3>Boy</h3>

    </div>

</section>

    </section>

    <footer class="footer">

    <div class="footer-section">

        <h2>Categories</h2>

        <p>Boy Baby Dresses</p>
        <p>Girl Baby Dresses</p>
        <p>Onesies & Rhompers</p>
        <p>Jhablas</p>

    </div>


    <div class="footer-section">

    <h2>Company Info</h2>

    <a href="/contact">
        Contact Us
    </a>

    <a href="/faq">
        F.A.Qs
    </a>

</div>


    <div class="footer-section">

        <h2>Our Other Websites</h2>

        <a href="https://lovevio.in"
        target="_blank">
            lovevio.in
        </a>

    </div>


    <div class="footer-section">

        <h2>Shipping & Policies</h2>

        <p>Payments</p>
        <p>Shipping Policy</p>
        <p>Cancellation Policy</p>
        <p>Terms of Use</p>
        <p>Next Day & Same Day Deliveries</p>


    </div>


    <div class="footer-section">

        <h2>Payment Method</h2>

        <p>Credit Cards</p>
        <p>Net Banking</p>
        <p>ATM & Debit Cards</p>
        <p>COD (Cash on Delivery)</p>

    </div>


    <div class="footer-section">

    <h2>Connect With Us</h2>

    <a href="https://www.instagram.com/littletouchbabycare/"
    target="_blank">
        Instagram
    </a>

    <a href="https://www.facebook.com/profile.php?id=61557069882388"
    target="_blank">
        Facebook
    </a>

    <a href="https://www.linkedin.com/in/little-touch-44b73a40b/"
    target="_blank">
        LinkedIn
    </a>

    <a href="https://wa.me/919048994799"
    target="_blank">
        WhatsApp
    </a>

</div>

</footer>

</body>
</html>