<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CRG8W960MR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CRG8W960MR');
</script>
    <title>Little Touch</title>

    <link rel="stylesheet"
    href="{{ url_for('static',
    filename='style.css') }}">

    <meta name="viewport"
    content="width=device-width,
    initial-scale=1.0">

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>

</head>

<body>

    <!-- NAVBAR -->
    <nav class="navbar">

        <div class="logo-container">

            <img src="{{ url_for('static',
            filename='images/logo.png') }}"
            class="logo">

        </div>

        <div class="nav-links">

            <a href="/services">
                Services
            </a>

            <a href="/about">
                About
            </a>

            <a href="/contact">
                Contact
            </a>

            <a href="/about"
            class="about-btn">

                About Us

            </a>

        </div>

    </nav>


   <!-- HERO SECTION -->
<section class="hero">

    <div class="right-section">

        <!-- IMAGE -->
        <img id="hero-image"

        src="/static/images/homeimage1.png"

        class="baby-image">

<!-- TEXT ON IMAGE -->
<div class="hero-overlay">

    <h1 id="hero-title">

        Created with love
        for your little ones,

    </h1>

    <p id="hero-subtitle">

        Experience comfort,
        care, and timeless style.

    </p>

    <a href="/about"
                class="hero-btn">
                    GET STARTED
                </a>

</div>

        <!-- DOTS -->
        <div class="slider-dots">

            <span class="dot active"
            onclick="setImage(0)">
            </span>

            <span class="dot"
            onclick="setImage(1)">
            </span>
        </div>
        </div>
</section>
     <section class="product-grid">
<div class="product-card">
    <a href="/product/dress1">
        <img id="dress1"
        src="/static/images/dress1-1.png"
        class="dress-image"
        onmouseover="startSlideshow(
        'dress1',
        [
        '/static/images/dress1-1.png',
        '/static/images/dress1-2.png',
        '/static/images/dress1-3.png'
        ]
        )"
        onmouseleave="stopSlideshow(
        'dress1',
        '/static/images/dress1-1.png'
        )">
    </a>
    <div class="product-info">
        <h3>
            LT-341
        </h3>
    </div>
</div>

    <div class="product-card">
        <a href="/product/dress2">
            <img id="dress2"
             src="/static/images/dress2-1.png"
            class="dress-image"
             onmouseover="startSlideshow(
        'dress2',
        [
        '/static/images/dress2-1.png',
        '/static/images/dress2-2.png',
        '/static/images/dress2-3.png'
        ]
        )"
        onmouseleave="stopSlideshow(
        'dress2',
        '/static/images/dress2-1.png'
        )">
        </a>
        <div class="product-info">
            <h3>
                LT-343
            </h3>
        </div>
    </div>
  <div class="product-card">
        <a href="/product/dress3">
            <img id="dress3"
             src="/static/images/dress3-1.png"
            class="dress-image"
             onmouseover="startSlideshow(
        'dress3',
        [
        '/static/images/dress3-1.png',
        '/static/images/dress3-2.png',
        '/static/images/dress3-3.png'
        ]
        )"
        onmouseleave="stopSlideshow(
        'dress3',
        '/static/images/dress3-1.png'
        )">
        </a>
        <div class="product-info">
            <h3>
                LT-342
            </h3>
        </div>
    </div>
 <div class="product-card">
        <a href="/product/dress4">
            <img id="dress4"
             src="/static/images/dress4-1.png"
            class="dress-image"
             onmouseover="startSlideshow(
        'dress4',
        [
        '/static/images/dress4-1.png',
        '/static/images/dress4-2.png',
        '/static/images/dress4-3.png',
        '/static/images/dress4-4.png'
        ]
        )"
        onmouseleave="stopSlideshow(
        'dress4',
        '/static/images/dress4-1.png'
        )">
        </a>
        <div class="product-info">
            <h3>
                LT-344
            </h3>
    </div>
</div>
    <div class="product-card">
        <a href="/product/dress5">
            <img id="dress5"
             src="/static/images/dress5-1.png"
            class="dress-image"
             onmouseover="startSlideshow(
        'dress5',
        [
        '/static/images/dress5-1.png',
        '/static/images/dress5-2.png',
        '/static/images/dress5-3.png'
        ]
        )"
        onmouseleave="stopSlideshow(
        'dress5',
        '/static/images/dress5-1.png'
        )">
        </a>

        <div class="product-info">
            <h3>
                LT-332
            </h3>
        </div>
    </div>
    <div class="product-card">
        <a href="/product/dress6">
            <img id="dress6"
             src="/static/images/dress6-1.png"
            class="dress-image"
             onmouseover="startSlideshow(
        'dress6',
        [
        '/static/images/dress6-1.png',
        '/static/images/dress6-2.png',
        '/static/images/dress6-3.png',

        ]
        )"
        onmouseleave="stopSlideshow(
        'dress6',
        '/static/images/dress6-1.png'
        )">
        </a>
        <div class="product-info">
            <h3>
                LT-331
            </h3>
        </div>
    </div>
    <div class="product-card">
        <a href="/product/dress7">
            <img id="dress7"
             src="/static/images/dress7-1.png"
            class="dress-image"
             onmouseover="startSlideshow(
        'dress7',
        [
        '/static/images/dress7-1.png',
        '/static/images/dress7-2.png',
        ]
        )"
        onmouseleave="stopSlideshow(
        'dress7',
        '/static/images/dress7-1.png'
        )">
        </a>
        <div class="product-info">
            <h3>
                LT-333
            </h3>
        </div>
    </div>
    <div class="product-card">
        <a href="/product/dress8">
            <img id="dress8"
             src="/static/images/dress8-1.png"
            class="dress-image"
             onmouseover="startSlideshow(
        'dress8',
        [
        '/static/images/dress8-1.png',
        '/static/images/dress8-2.png',
        '/static/images/dress8-3.png',
        '/static/images/dress8-4.png'
        ]
        )"
        onmouseleave="stopSlideshow(
        'dress8',
        '/static/images/dress8-1.png'
        )">
        </a>
        <div class="product-info">
            <h3>
                LT-202
            </h3>
        </div>
    </div>
    </section>

    <footer class="footer">

    <div class="footer-section">

        <h2>Categories</h2>

        <p>Jablas</p>
        <p>Dailywear unisex</p>
        <p>Baby Boy Dresses</p>
        <p>Baby GirlDresses</p>
        <p>Formal Wear</p>
        <p>Onesies & Rompers</p>
        <p>Sleepwear</p>
    </div>


    <div class="footer-section">

    <h2>Company Info</h2>

    <a href="/contact">
        Contact Us
    </a>

    <a href="/faq">
        F.A.Qs
    </a>

</div>

    <div class="footer-section">

        <h2>Shipping & Policies</h2>

        <p>Payments</p>
        <p>Shipping Policy</p>
        <p>Cancellation Policy</p>
        <p>Terms of Use</p>
        <p>Next Day & Same Day Deliveries</p>

    </div>

    <div class="footer-section">

        <h2>Payment Method</h2>

        <p>Credit Cards</p>
        <p>Net Banking</p>
        <p>ATM & Debit Cards</p>
        <p>COD (Cash on Delivery)</p>

    </div>


    <div class="footer-section">

    <h2>Connect With Us</h2>

<div class="social-icons">

    <a href="https://www.instagram.com/littletouchbabycare/" target="_blank">
        <i class="fab fa-instagram"></i>
    </a>

    <a href="https://www.facebook.com/profile.php?id=61557069882388" target="_blank">
        <i class="fab fa-facebook"></i>
    </a>

    <a href="https://www.linkedin.com/in/little-touch-44b73a40b/" target="_blank">
        <i class="fab fa-linkedin"></i>
    </a>

    <a href="https://wa.me/919048994799" target="_blank">
        <i class="fab fa-whatsapp"></i>
    </a>

</div>

</footer>
<!--.....Hero Slider.....-->
<script>

window.onload = function(){

const slides = [

{
image:
"/static/images/homeimage1.png",

title:
"Created with love for your little ones,",

subtitle:
"Experience comfort, care, and timeless style."
},

{
image:
"/static/images/homeimage2.png",

title:
"JOYFUL COLLECTIONS",

subtitle:
"Designed for happy little moments."
}

];

let currentIndex = 0;

const heroImage =
document.getElementById(
"hero-image"
);

const heroTitle =
document.getElementById(
"hero-title"
);

const heroSubtitle =
document.getElementById(
"hero-subtitle"
);

const dots =
document.querySelectorAll(
".dot"
);

function updateDots(){

dots.forEach(dot =>
dot.classList.remove(
"active"
));

dots[currentIndex]
.classList.add(
"active");
}

function updateSlide(){

heroImage.src =
slides[currentIndex]
.image;

heroTitle.innerText =
slides[currentIndex]
.title;

heroSubtitle.innerText =
slides[currentIndex]
.subtitle;

updateDots();
}

function changeSlide(){

currentIndex =
(currentIndex + 1)
% slides.length;

updateSlide();
}

window.setImage =
function(index){

currentIndex = index;

updateSlide();
};

setInterval(
changeSlide,
5000
);

updateSlide();

};

</script>
<!---.Dress Hover Slideshow--->
<script>

const intervals = {};


function startSlideshow(
imageId,
images
){

let index = 0;

const image =
document.getElementById(
imageId
);

intervals[imageId] =
setInterval(() => {

index =
(index + 1)
% images.length;

image.src =
images[index];

}, 800);

}


function stopSlideshow(
imageId,
firstImage
){

clearInterval(
intervals[imageId]
);

document.getElementById(
imageId
).src =
firstImage;

}

</script>
</body>

</html>